* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --text-color: white;
  --bg-url: url(./ASSETS/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --switch--br-url: url(./ASSETS/MoonStars.svg);
  /*--switch-button: 1;*/
  
}

.light {
  --text-color: black;
  --bg-url: url(./ASSETS/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch--br-url: url(./ASSETS/Sun.svg);
  /*--switch-button: 0;*/
}

body {
  /*background-image: url(./ASSETS/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center; posiciona a imagem na tela
  background-size: cover; cobre toda a tela (Toda a área visível*/

  /*backgraund: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body *{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*A altura da caixa conteiner não deve ser fixa. A medina que vamos inserindo outras caixas, o container 
  vai assumir o tamanho do conteudo*/
  /*height: 712px;*/
  /*border: 1px solid red;*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
  /*Text-align serve para alinha conteudos com display inline que estão dentro de uma caixa de dilplay block*/
}

#profile img{
  width: 112px;
  /*A tag img tem um display inlinie. Logo, não podemos usar o margin auto para alinha o elemento
  no meio*/
  /*para alinha eu podemos transformar a tag imag em display block para ajusta com margin auto*/
  /*Outra opção é aplicar o text-align cente para alinhar o conteudo da caixa profile*/
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  
}
/*swicth*/
#switch {
  /*border: 1px solid red;*/
  position: relative;
  width: 64px;

  /*O switch tem um display block, logo podemos usar o margin 0 auto para posicionar*/
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch--br-url) no-repeat center;
  border-radius: 50%;
  border: 0;
  

  position: absolute;
  top: 50%;
  z-index: 1;
  right: 1;
  transform: translateY(-50%);

  animation: slide-back 0.4s;

}
#switch button:hover {
  outline: 8px solid var(--surface-color-hover);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a{
  border: 1px solid var(--stroke-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border-radius: 8px;

 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
  
}

/*icones*/
#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--surface-color-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 11px;
}

/*Midia queries*/
/*@media (min-width: 700px) {
  :root {
    --bg-url: url(./ASSETS/bg-mobile.jpg);

  }
  .light {
    --bg-url: url(./ASSETS/bg-mobile-light.jpg);
  }

}*/

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}